body {
    background-image: url('test.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 22px;
}


.img-wrapper {
    text-align: center; /* Выравнивание по центру */
}

.img-wrapper img {
    width: 360px; /* Ширина изображения */
    height: auto; /* Сохраняет пропорции изображения */
    margin: 0 50px; /* Расстояние между картинками */
}




.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.bottom-links {
    margin-top: 50px; /* Измените значение по вашему усмотрению */
}

.containerblock {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    backdrop-filter: blur(5px); /* Применяем эффект размытия к фону */
    background-color: rgba(255, 255, 255, 0.552); /* Прозрачный цвет фона */
    border-radius: 10px; /* Закругляем углы */
}

#services-and-gallery {
    padding: 20px 0; /* Отступы сверху и снизу */
    text-align: center;
    display: flex; /* Располагаем блоки в строку */
    justify-content: space-around; /* Выравниваем блоки по горизонтали с расстоянием между ними */
}

.info-box {
    background-color: rgba(255, 255, 255, 0.552); /* Прозрачный цвет фона */
    backdrop-filter: blur(5px); /* Применяем эффект размытия к фону */
    border-radius: 10px; /* Закругляем углы */
    padding: 20px;
    margin: 0; /* Убираем маргин */
    width: calc(50% - 20px); /* Ширина блока 50% с учетом границы и отступов */
    box-sizing: border-box; /* Учитываем границы в вычислении ширины */
    text-align: center;
}

.info-box h2 {
    margin-top: 0; /* Убираем верхний отступ для заголовка */
}

.info-box ul {
    list-style: none; /* Убираем маркеры у списка услуг */
}

.info-box ul li {
    margin-bottom: 10px; /* Добавляем небольшой отступ между пунктами списка */
}

.price-container{
    background-position: center;
}

header {
    background-image:url('logo.png');
    background-repeat: no-repeat;
    background-size: 230px;
    background-position: top right;
    margin-right: 30px;
    color: rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px 60px;
    border-radius: 5px;
    background-color: #e59941;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #80c5b0;
}

section {
    padding: 40px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

button, h2 {
    background-color: #e59941;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.service-list {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

html {
    scroll-behavior: smooth;
}


.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-images {
    display: flex;
    justify-content: flex-start; /* Выравниваем изображения по левому краю */
    flex-wrap: wrap; /* Разрешаем перенос изображений на новую строку */
}

.gallery img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.gallery-images img {
    width: 100px; /* Фиксированная ширина изображений */
    height: 100px; /* Фиксированная высота изображений */
    margin-right: 5px; /* Добавляем небольшой отступ между изображениями */
    margin-bottom: 5px; /* Добавляем небольшой отступ снизу */
}

.expanded-img-container {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.expanded-img {
    max-width: 90%;
    max-height: 90%;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333; /* черный цвет */
    color: #fff; /* белый цвет текста */
    padding: 20px 0; /* отступы сверху и снизу */
    text-align: center; /* выравниваем текст по центру */
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.contact-info p {
    margin: 5px 0; /* отступы между параграфами с контактной информацией */
    text-align: left;
}

.logo img {
    max-width: 100px; /* ограничиваем ширину логотипа */
}


